:root {
	--black: 22, 23, 24;
	--white: 249, 250, 250;
	--white-accent: 243, 243, 244;
	--grey: 100, 100, 100;
	--grey-light: 242, 242, 242;

	--orange: 255, 159, 77;
	--orange-accent: 255, 189, 141;

	--blue-accent: 208, 213, 244;
	--blue: 66, 87, 222;
	--blue-light: 17, 152, 255;
	--blue-dark: 1, 47, 83;

	--body-white: 243, 245, 246;
}
