@forward 'reset';
@import 'transitions';
@import 'shadows';
@import 'colors';
@import 'sizes';
@font-face {
	font-family: 'rubik';
	src: url('/Rubik-VariableFont_wght.ttf') format('truetype-variations');
	font-weight: 100 900;
	font-stretch: 50% 200%;
	font-style: normal;
}

body {
	background-image: linear-gradient(
		196.18deg,
		rgb(248, 248, 248) 13.53%,
		rgba(226, 229, 233, 0.8) 95.54%
	);

	scroll-behavior: smooth;

	&.noScroll {
		overflow: hidden;
	}
}

// * {
// 	outline: 1px solid rgba(89, 89, 89, 0.471);
// }
